<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" color="danger">
      <ion-button color="danger" fill="clear"    (click)="cancel()">
       <ion-icon size="large" name="close" color="danger"></ion-icon>
       </ion-button>
    </ion-buttons>
    <ion-title>Nytt Träningsprogram</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" label="Enter your name"  placeholder="Your name"></ion-input>
  </ion-item>
</ion-content>
