<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" color="danger">
      <ion-button color="danger" fill="clear"    (click)="cancel()">
       <ion-icon size="large" name="close" color="danger"></ion-icon>
       </ion-button>
    </ion-buttons>
    <ion-title>Nytt Träningsprogram</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 <form [formGroup]="newWorkoutForm" >
  <ion-item>
    <ion-label position="floating">Namn</ion-label>
    <ion-input formControlName="namn" type="text"></ion-input>
  </ion-item>

  <ion-text color="danger" *ngIf="newWorkoutForm.get('namn')?.touched && newWorkoutForm.get('namn')?.invalid">
    Namn är obligatoriskt
  </ion-text>

  <ion-button expand="full" (click)="spara()" [disabled]="newWorkoutForm.invalid">
    Spara
  </ion-button>
</form>

</ion-content>
