.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  h1 {
    font-size: 4rem;
    font-family: monospace;
    margin-bottom: 20px;
  }
}
