<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Träningsprogram </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="programs().length >0; else noPrograms">
    <ion-item *ngFor="let workout of programs()">
      {{workout.namn}}
      <ion-button (click)="deleteProgram(workout.id)">
        <ion-icon slot="start" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Fallback om inga program finns -->
  <ng-template #noPrograms>
    <div class="ion-text-center ion-padding">
      <ion-icon
        name="information-circle-outline"
        size="large"
        color="medium"
      ></ion-icon>
      <p>
        Inga träningsprogram ännu.<br />Klicka på <strong>+</strong> för att
        lägga till ett!
      </p>
    </div>
  </ng-template>

  <ion-button (click)="openNewProgramModal()">
    <ion-icon slot="start" name="add"></ion-icon>
    Träningsprogram
  </ion-button>
  <div>
    <ion-button (click)="openTimerModal()">Start Timer</ion-button>
  </div>
</ion-content>
